<div>
    <h2 id="page-heading">
        <span>Commands</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-command-my-suffix" [routerLink]="['/command-my-suffix/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Command
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="commands">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Command At</span></th>
            <th><span>Quantity</span></th>
            <th><span>Serve</span></th>
            <th><span>Customer</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let command of commands ;trackBy: trackId">
                <td><a [routerLink]="['/command-my-suffix', command.id, 'view' ]">{{command.id}}</a></td>
                <td>{{command.commandAt | date:'medium'}}</td>
                <td>{{command.quantity}}</td>
                <td>{{command.serve}}</td>
                <td>
                    <div *ngIf="command.customer">
                        <a [routerLink]="['../customer-my-suffix', command.customer?.id, 'view' ]" >{{command.customer?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/command-my-suffix', command.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/command-my-suffix', command.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'command-my-suffix', { outlets: { popup: command.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
