<div>
    <h2 id="page-heading">
        <span>Billings</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-billing-my-suffix" [routerLink]="['/billing-my-suffix/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Billing
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="billings">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Total Price</span></th>
            <th><span>Status</span></th>
            <th><span>Customer</span></th>
            <th><span>Command</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let billing of billings ;trackBy: trackId">
                <td><a [routerLink]="['/billing-my-suffix', billing.id, 'view' ]">{{billing.id}}</a></td>
                <td>{{billing.totalPrice}}</td>
                <td>{{billing.status}}</td>
                <td>
                    <div *ngIf="billing.customer">
                        <a [routerLink]="['../customer-my-suffix', billing.customer?.id, 'view' ]" >{{billing.customer?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="billing.command">
                        <a [routerLink]="['../command-my-suffix', billing.command?.id, 'view' ]" >{{billing.command?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/billing-my-suffix', billing.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/billing-my-suffix', billing.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'billing-my-suffix', { outlets: { popup: billing.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
